<h1 class="content-head">Selling Shops</h1>

<%= render 'shared/search_market_form', search_url: talon_ro_search_path %>

<br>

<%= render 'offers/table', offers: @offers %>

<br>

<%= link_to "â† back", root_path %>
