<h1>Selling Shops</h1>

<%= render 'shared/search_market_form', market_url: talon_ro_selling_shops_search_path %>

<br>

<%= render 'offers/table', offers: @offers %>

<br>

<%= link_to "â† back", root_path %>
