<h1 class="content-head"><%= @item.name %></h1>
<div id="chart_div" data-offers="<%= @item.offers.to_json(methods: :type) %>"></div>
<legend>Offers</legend>
<hr />
<%= render 'offers/table', offers: @item.offers %>
<br>
<%= link_to "â†  all items", items_path %>
