/*
 * a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$green: #3E514D;
$blue: #19364F;
$light-pastel: #F2EDE4;
$dark-pastel: #E2BD9D;
$red: #C34431;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  line-height: 1.7em;
  background-color: $light-pastel;
  color: $blue;
  font-size: 13px;
}
h1, h2, h3, h4, h5, h6, label {
  color: $blue;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
.is-center { text-align: center; }

.home-menu {
  padding: 0.2em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}
.home-menu {
  background: $dark-pastel;
}
.pure-menu.pure-menu-fixed {
  border-bottom: none;
}
.home-menu .pure-menu-heading {
  color: $light-pastel;
  font-weight: 400;
  font-size: 120%;
}
.home-menu .pure-menu-selected a {
  color: $light-pastel;
}
.home-menu a {
  color: $light-pastel;
}
.home-menu li a:hover, .home-menu li a:focus {
  background: none;
  border: none;
  color: $dark-pastel;
}

.content-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-head {
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.footer {
  background: $dark-pastel;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
}

/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }
  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }
  /* We can align the menu header to the left, but float the
   menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }
  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }
}
